@import "../../../../assets/styles/variables.scss";


.reviews-sect{
    width: 100%;
    span{
        font-size: 1em;
    }
    padding-top: 1em;
    .holder{
        width: 100%;
        background-color: $white;
        border-radius: 1.5em;
        padding: 1.5em 1em;
        min-height: calc(100vh - 170px);
        @include mediaM(850px){
            min-height: calc(100vh - 80px);
            padding: 1em 0.7em;
        }
        @include mediaM(550px){
            min-height: calc(100vh - 60px);
        }
        hr{
            width: 100%;
            color: #112211;
        }

    }
}