@import "../../../assets/styles/variables.scss";

.full-operators{
    .banner{
        width: 100%;
        background-image: url(../../../assets/images/small-angle-yellow-bg.jpg);
        background-position: center;
        position: relative;
        padding: 5em 0 1em;
        .curve-holder{
          position: absolute;
          left: 0;
          bottom: 0;
          width: 100%;
          img{
            width: 100%;
          }
        }
        .topic-space{
            display: flex;
            align-items: center;
            justify-content: space-between;
            min-height: 8em;
            width: 94%;
            margin: auto;
            max-width: 1100px;
            .img-sect{
              width: 90%;
              max-width: 450px;
              img{
                width: 100%;
              }
            }
            .content-sect{
              width: 90%;
              max-width: 450px;
            }
      
            @include mediaM(850px) {
              text-align: center;
              flex-direction: column;
              .content-sect{
                margin: 0em auto 1em;
                h3{
                  font-size: 1.3em;
                }
              }
              .img-sect{
                // display: none;
                width: 50%;
                max-width: 150px;
                margin: 0 auto 3em;
              }
            }
        }
    }
    .content-body{
        width: 100%;
        background-color: $white;

        .operator_image{
          padding: 15px;
          .holder{
            background-color: $white;
            border-radius: 10px;
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 8px;
            box-shadow: 0 2px 25px 0 rgba(0, 0, 0, 0.2);
            height: 100px;
            .im{
              background-position: center;
              background-size: contain;
              background-repeat: no-repeat;
              width: calc(100% - 16px);
              height: 84px;
              border-radius: 7px;
              img{
                border-radius: 8px;
                width: 100%;
              }
            }
            .imh2{
              width: 40%;
              img{
                border-radius: 8px;
                width: 100%;
              }
            }
          }
          @include mediaM(850px) {
            padding: 9px;
            .holder{
              padding: 5px;
              .imh{
                border-radius: 5px;
                overflow: hidden;
              }
            }
          }
        }
      
        @include mediaM(850px) {
          h2{
            font-size: 1.5em;
            text-align: center;
          }
        }
        
        .item{
          // border-radius: 10px;
          // border: 1px solid $white-faint3;
          // background-color: $white;
          // box-shadow: 0 2px 15px 0 rgba(0, 0, 0, 0.20);
          transition: 0.3s ease;
          .country{
            padding: 10px;
            color: $black;
            background-image: linear-gradient(rgba(0, 62, 219, 0.2), #fff);
            border-top: 1px solid $primary-blue;
            border-radius: 0 0 7px 7px;
            opacity: 0.4;
            filter: grayscale(1)
          }
          .active-country{
            padding: 10px;
            background-image: linear-gradient(rgba(0, 62, 219, 0.2), #fff);
            border-top: 1px solid $primary-blue;
            border-radius: 0 0 7px 7px;
            opacity: 1;
            filter: grayscale(0);
            color: $primary-blue-hover;
            h6{
              font-size: 1.3em;
            }
          }
          .view-icon{
              width: 20px;
              transition: 0.3s ease;
              img{
                  width: 100%;
              }
          }
          .operator{
            transition: 0.6s ease;
            max-height: 0;
            overflow: hidden;
            // background-color: $white;
          }
          .full{
            max-height: 5000px;
            transition: 0.3s ease;
            padding: 10px;
          }
          .full-view{
            transform: rotate(180deg);
          }
        }
    }
}