@import "../../../../../assets/styles/variables.scss";


.add-hotel{
    background-color: $white;
    width: 100%;
    span{
        font-size: 1em;
    }
    .banner{
        width: 100%;
        min-height: calc(100vh - 170px);
        @include mediaM(850px){
            min-height: calc(100vh - 80px);
        }
        @include mediaM(550px){
            min-height: calc(100vh - 60px);
        }
    }
}