@import '../../../assets/styles/variables.scss';

.admin-login-box{
    background-color: $white;
    padding: 15px;
    border-radius: 15px;
    box-shadow: 10px 10px 2px 0 $black-faint3;
    max-width: 450px;
    margin: auto;
    .reg-card{
        label{
            // color: $white;
            font-size: 0.75em;
            font-weight: 500;
            margin-bottom: 0;
            margin-top: 1em;
        }
        input, select{
            // color: $white;
            border-radius: 8px;
            padding: 5px 15px;
            border: 1.5px dashed $black-faint3;
            background-color: #EBF1FF;
            box-shadow: 5px 5px 2px 0 $black-faint4;
            width: 100%;
            transition: 0.3s ease-in-out;
            &:focus {
              outline: none;
              border: 1.5px solid $primary-blue-brighter;
            }
        }
        select{
            padding: 8px 15px;
        }
        .im-error{
            border-color: $red;
        }
        .password-shower{
            float: right;
            margin-top: -33px;
            margin-right: 10px;
            position: relative;
            i{
                cursor: pointer;
            }
            @include mediaM(750px) {
                margin-top: -28px;
            }
        }
    }
}
.error-popup{
    animation: expand 1s ease-in-out 1;
    color: $red;
}

@keyframes expand {
    0% { max-height: 0; overflow: hidden; }
    100% { max-height: 100px; overflow: hidden; }
}