@import "../../../../assets/styles/variables.scss";


.flight-booking-page{
    background-color: $white;
    width: 100%;
    padding: 12vh 0 0;
    p{
        color: $black-faint1;
    }
    background-color: $white;
    width: 100%;
    padding: 5vh 0 9vh;
    .preview-sect{
        background-color: #FBFAFC;
        width: 90%;
        max-width: 1200px;
        margin: auto;
        padding: calc(4vw);
        border-radius: 1em;
        .flight-button{
            @include base-button($purple-bg, $purple-bg-hover);
            font-size: 0.9em;
            font-weight: 600;
            padding: 8px 21px;
            width: 100%;
            border-radius: 4.5px;
            box-shadow: 0 10px 20px 0 rgba(103, 4, 118, 0.25);
            .icon{
                font-size: 0.9em;
            }
            &:disabled{
                filter: grayscale(0.7);
                opacity: 0.7;
                pointer-events: none;
            }
        }
        .inactive{
            filter: grayscale(0.7);
            opacity: 0.7;
        }
        .trip-card{
            box-shadow: 0 10px 20px 0 rgba(103, 4, 118, 0.25);
            padding: 1.1em;
            border-radius: 12px;
            background-color: $white;
        }
    }
}

.error-box{
    .cancel{
      padding: 10px 15px;
      border-radius: 8px;
      transition: 0.2s ease;
      border: 1px solid #E8E9EA;
      font-size: 0.85em;
      box-shadow: 0 1px 10px 0 $black-faint4;
      background-color: $white;
      &:hover{
        box-shadow: 0 3px 7px 0 rgba(0, 0, 0, 0.15);
        border-color: #f3a4cb;
      }
      &:active{
        box-shadow: 0 3px 7px 0 rgba(0, 0, 0, 0.3);
      }
    }
    .confirmation-button{
        padding: 10px 25px;
        background-image: linear-gradient(to left, #C957DB, rgba(28, 12, 31, 0.79));
        border-radius: 8px;
        transition: 0.2s ease;
        border: none;
        color: white;
        font-weight: 600;
        font-size: 0.85em;
        box-shadow: 0 1px 6px 2px $black-faint3;
        &:hover{
          filter: brightness(80%);
          color: white;
        }
        &:focus{
          outline: none;
        }
        &:disabled{
          background-image: linear-gradient(to left, #5d1368, rgba(0, 0, 0, 0.89));
          color: white;
        }
    }
}