@import '../../../../../assets/styles/variables.scss';


.services{
    background-image: url(../../../../../assets/images/blue-brick-bg.jpg);
    background-size: cover;
    background-position: center;
    h3,h6,p{
        color: $white;
    }
    .service-spacer{
        width: 100%;
        height: 120px;
        @include mediaM(991px){
            display: none;
        }
    }
    .service-card{
        background-color: $primary-card;
        text-align: center;
        width: 96%;
        margin: 1em auto;
        max-width: 290px;
        padding: 25px 15px 15px;
        border-radius: 15px;
        box-shadow: 10px 10px 2px 0 $black-faint4;
        transition: 0.4s ease;
        position: relative;
        h6{
            font-size: 1.2em;
            margin-top: 1em;
        }
        p{
            min-height: 125px;
        }
        .topic{
            .icon-sect{
                width: 80%;
                margin: auto;
                max-width: 120px;
                height: 70px;
                display: flex;
                align-items: center;
                justify-content: center;
                border-radius: 10px;
                border: 1px solid $white-faint2;
                box-shadow: 10px 10px 2px 0 $black-faint3;
                position: relative;
                .abs{
                    position: absolute;
                    top: 50%;
                    left:50%;
                    transform: translate(-50%, -50%);
                    opacity: 0;
                }
            }
        }
        &:hover{
            background-color: $primary-card-highlight;
            transform: scale(1.07);
            h3,h6,p{
                color: $black;
            }
            .topic{
                .icon-sect{
                    border-color: $black-faint2;
                    .abs{
                        opacity: 1;
                    }
                    .rel{
                        opacity: 0;
                    }
                }
            }
        }
    }
    .manilla-service-logo{
        width: 70%;
        max-width: 180px;
        margin: 3em auto -8em;
        animation: spin-logo 10s ease 0s infinite;
        img{
            width: 100%;
        }
        @include mediaM(991px){
            display: none;
        }
    }
}

@keyframes spin-logo {
    0% { transform: scale(0); }
    12% { transform: scale(0); }
    18% { transform: scale(1.2); }
    22% { transform: scale(1); }
    50% { transform: scale(1) rotate(0deg); }
    60% { transform: scale(1) rotate(720deg); }
    80% { transform: scale(1) rotate(720deg); }
    95% { transform: scale(0) rotate(0deg); }
    100% { transform: scale(0); }
}