@import '../../../../../assets/styles/variables.scss';

.unlocking-utilities{
    // background-image: url(../../../../../assets/images/white-concrete-bg.jpg);
    background-size: cover;
    background-position: center;
    .mock-sect{
        position: relative;
        width: 99%;
        margin: auto;
        max-width: 800px;
        .phone-mockup{
            width: 40%;
            max-width: 340px;
            margin: 3em auto;
        }
        .tips-sect{
            position: absolute;
            width: 40%;
            left: 0;
            top: 50%;
            transform: translateY(-50%);
        }
        .stats-sect{
            position: absolute;
            width: 55%;
            right: 0;
            top: 50%;
            transform: translateY(-50%);
        }
        @include mediaM(750px){
            .stats-sect{
                display: none;
            }
            .phone-mockup{
                width: 50%;
                max-width: 340px;
                margin: 3em 10% 3em 40%;
            }
            .tips-sect{
                position: absolute;
                width: 50%;
                left: 10%;
                top: 50%;
                transform: translateY(-50%);
            }
        }
    }

    .rf-grid{
        display: grid;
        grid-template-columns: 50% 50%;
        @include mediaM(850px) {
            display: block;
        }
        .referal{
            background-color: $light-blue;
            span{
                // font-size: 2em;
                transform: scale(5) translateY(4px);
                display: inline-block;
            }
            button{
                color: $black;
                box-shadow: 1px 3px 8px 1px $black-faint4;
            }
        }
        .sale-info{
            background-color: $orange;
        }
    }
}