@import '../../../assets/styles/variables.scss';

.crypto-page{
    position: relative;
    // padding-top: 10vh;
    .banner-sect{
        padding: 11vh 2vh;
        min-height: 40vh;
        display: flex;
        align-items: center;
        justify-content: center;
        background-image: url(../../../assets/images/yellow-brick-bg.jpg);
        background-size: cover;
        background-position: center;
        padding-bottom: calc(23vh + 4px);
    }
    .stats-card{
        width: 94%;
        max-width: 1100px;
        z-index: 10;
        background-color: $white;
        margin: -20vh auto 2em;
        border: 1px solid $primary-blue-hover;
        border-radius: 30px;
        box-shadow: 10px 10px 2px 0 $black-faint4;
        padding:1.5em;
        @include mediaM(750px){
            border-radius: 15px;
        }
        position: relative;
        .overflow-holder{
            overflow: auto;
            .stats-bar{
                // display: flex;
                // align-items: center;
                // justify-content: space-between;
                display: grid;
                grid-template-columns: 70px 250px 150px auto 180px 160px;
                // grid-template-columns: auto auto auto auto auto auto;
                p{
                    white-space: nowrap;
                    padding: 0 2em;
                    text-align: left;
                }
                .price{
                    text-align: left;
                    max-width: 150px;
                }
            }
        }
    }
}
