@import "../../../../assets/styles/variables.scss";


.flight-search{
    background-color: $white;
    width: 100%;
    position: relative;
    span{
        font-size: 1em;
    }
    .flight-case{
        padding: 20vh 0 0.5vh;
        // background-color: chartreuse;
        background-color: $white;
        // position: relative;
        .flight-listout{
            width: 90%;
            max-width: 1100px;
            margin: auto;
            padding: 4vh 0 4vh;
            background-color: #fff;
            position: relative;
            .flight-list-restrictor{
                overflow: auto;
                margin: 0 -0.5em;
                max-height: calc(100vh - 250px);
                padding: 0.5em;
                // padding-right: 1em;
                @include mediaM(850px){
                    max-height: calc(100vh - 120px);
                }
                @include mediaM(550px){
                    max-height: calc(100vh - 120px);
                }
            }
            .pad-web{
                @include mediaW(992px){
                    padding-left: 0.7em;
                }
            }
            .flight-card, .flight-card2{
                box-shadow: 0 2px 7px 1px $black-faint4;
                padding: 15px 12px;
                border-radius: 12px;
                display: grid;
                grid-template-columns: 25% 75%;
                min-height: 140px;
                margin-bottom: 2em;
                .logo-side{
                    display: flex;
                    align-items: center;
                    justify-content: flex-start;
                    flex-direction: column;
                    padding: 10px;
                    img{
                        width: 60%;
                    }
                }
                .content-side{
                    .save-flight{
                        // height: 50px;
                        width: 40px;
                        border-radius: 4px;
                        border: 1px solid $purple-bg;
                        transition: 0.3s ease;
                        .save-icon{
                            color: $purple-bg
                        }
                        &:hover{
                            background-color: $purple-bg;
                            color: $white;
                            .save-icon{
                                color: $white;
                            }
                        }
                    }
                    .flight-button{
                        @include base-button($purple-bg, $purple-bg-hover);
                        font-size: 0.8em;
                        font-weight: 600;
                        padding: 7px 10px;
                        width: 100%;
                        border-radius: 4.5px;
                        box-shadow: 0 7px 12px 0 rgba(103, 4, 118, 0.25);
                        .icon{
                            font-size: 0.9em;
                        }
                    }
                }
            }
            .flight-card2{
                display: flex;
            }
        }
    }
    .loader-holder{
        position: fixed;
        left: 0;
        bottom: 0;
        width: 100%;
        height: calc(100vh - 170px);
        @include mediaM(850px){
            height: calc(100vh - 80px);
        }
        @include mediaM(550px){
            height: calc(100vh - 60px);
        }
        z-index: 10;
        background-color: rgba(253, 253, 253, 0.3);
    }
}