@import "../../../../../assets/styles/variables.scss";

.waitlist-post{
    .cover{
        border: 1px dashed $primary-blue;
        border-radius: 20px;
        background-color: $white-faint1;
        padding: 30px 26px;
        .item-card{
            .input-grp{
                padding-top: 0.9em;
                label{
                    font-weight: 700;
                    font-size: 0.7em;
                    margin-bottom: 0;
                }
                input, textarea, select{
                    width: 100%;
                    border-radius: 8px;
                    padding: 5px 15px;
                    border: 1px solid $primary-blue-hover-faint3;
                    box-shadow: 0 4px 8px -3px $black-faint4;
                    transition: 0.3s ease;
                    background-color: $white;
                    &:focus{
                    outline: none;
                    border-color: $primary-blue;
                    box-shadow: 0 4px 8px 0 $black-faint3;
                    }

                }
                input[type=file]{
                    padding: 2px 15px;
                    &::-webkit-file-upload-button {
                    visibility: hidden;
                    }
                }
                select{
                    padding: 7px 15px;
                }
            }
        }
    }
}

.db-table-card {
    position: relative;
    width: 100%;
    margin: 2vh auto 3vh;
    border-radius: 10px;
    // overflow: hidden;
    background-color: #ffffff;
    box-shadow: 0 1px 9px 1px rgba(0, 0, 0, 0.1);
      .db-card-body{
          padding: 10px;
          .content-holder{
              overflow-x: auto;
              position: relative;
              .table-responsive{
                  width: 100%;
                  display: table;
                  align-items: flex-start;
                  justify-content: space-between;
                  min-height: 90px;
                  tr:nth-child(even){
                      background-color: #ffffff;
                  }
                  tr:nth-child(odd){
                      background-color: #f1f1f1;
                  }
                  tr{
                      width: 100%;
                      th{
                          font-weight: 400;
                          padding: 6px 10px !important;
                      }
                      td{
                          font-weight: 300;
                          padding: 6px 10px !important;
                          button{
                              border: none;
                              border-radius: 5px;
                              color: $white;
                              transition: 0.2s ease;
                              padding: 4px 10px;
                          }
                      }
                  }
              }
          }
          .content-holder2{
              position: relative;
              transition: 0.3s ease;
              .folded{
                  height: 0;
                  overflow: hidden;
                  transition: 0.3s ease;
              }
              .answer{
                  transition: 0.3s ease;
              }
              &:hover{
                  .folded{
                    height: auto;
                  }
              }
          }
      }
  }