@import "../../../assets/styles/variables.scss";


.flights{
    background-color: $white;
    width: 100%;
    .flight-listout{
        padding: 10vh 0 4vh;
        background-color: chartreuse;
        position: relative;
    }
}