@import "../../../assets/styles/variables.scss";

.help{
    background-color: $white;
    hr{
        background-color: $primary-blue;
        opacity: 0.4;
    }
    .content-body{
        width: 100%;
        // background-image: url(../../../assets/images/small-angle-bg.jpg);
        // background-size: cover;
        background-position: center;
        .cover{
            border: 1px dashed $primary-blue;
            border-radius: 20px;
            background-color: $white-faint2;
            padding: 15px 16px;
            .display-img{
                width: 100%;
                border-radius: 10px;
                box-shadow: 0 2px 15px 0 rgba(0, 0, 0, 0.40);
                overflow: hidden;
                img{
                    width: 100%;
                    border-radius: 10px;
                }
            }
            .content{
                border-radius: 10px;
                border: 1px solid $white-faint3;
                background-color: $white;
                box-shadow: 0 2px 15px 0 rgba(0, 0, 0, 0.20);
                padding: 10px;
                transition: 0.3s ease;
                @include mediaW(768px) {
                    .min78{
                        min-height: 78px;
                    }
                }
                @include mediaW(1200px) {
                    .min78{
                        min-height: 52px;
                    }
                }
            }
        }
    }
}