@import '../../../../../assets/styles/variables.scss';

.location-case{
    width: 100%;
    @include mediaW(750px){
        width: 500px;
    }
    @include mediaW(1000px){
        width: 750px;
    }
    .location-selection{
        width: 100%;
    }
    .confirm-location-button{
        @include base-button($purple-bg, $purple-bg-hover);
    }
}