@import "../../assets/styles/variables.scss";

.bar{
    padding: 18px 15px;
    .white-logo{
        width: 120px;
        img{
            width: 100%;
        }
    }
    .menu-icon{
        font-size: 1.75em;
        cursor: pointer;
        transition: 0.25s ease;
        &:active{
            transform: scale(1.1);
        }
    }
    .lined-icons{
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-direction: column;
        .sect, .c-sect{
            width: 100%;
            padding: 3px 5px;
            .menu-grid, .menu-grid2{
                display: grid;
                grid-template-columns: 45px 1px;
                max-width: 45px;
                margin: 12px auto;
                padding: 0;
                .menu-default{
                    width: 0;
                    overflow: hidden;
                    transition: 0.3s ease;
                }
                .menu-active{
                    width: auto;
                    padding-left: 15px;
                    transition: 0.3s ease;
                    p{
                        width: 100%;
                        font-weight: 600;
                    }
                    @include mediaM(750px) {
                        padding-left: 10px;
                    }
                }
                .circles{
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    width: 90%;
                    margin: auto;
                    max-width: 45px;
                    div{
                        width: 10px;
                        height: 10px;
                        border-radius: 100%;
                    }
                    .blue{
                        background-color: $primary-blue;
                    }
                    .orange{
                        background-color: $orange;
                    }
                    .light-blue{
                        background-color: $secondary-blue;
                    
                    }
                }
                .sibebar-icon{
                    background-color: $faint-blue-bg;
                    border-radius: 8px;
                    width: 42px;
                    height: 42px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    transition: 0.3s ease;
                    position: relative;
                    i{
                        color: $primary-blue;
                    }
                    .sidebar-icon-popup{
                        position: absolute;
                        padding: 3px 8px;
                        border-radius: 6px;
                        box-shadow: 0 0 8px 2px $black-faint3;
                        background-color: $white;
                        left: 130%;
                        top: 10%;
                        transform: scale(0);
                        transition: 0.3s ease;
                        pointer-events: none;
                        span{
                            font-size: 0.7em;
                            line-height: 1;
                        }
                    }
                    &:hover{
                        .icon-pop{
                            transform: scale(1);
                        }
                    }
                    @include mediaM(750px) {
                        width: 36px;
                        height: 36px;
                    }
                }
            }
            .menu-grid{
                cursor: pointer;
                transition: 0.3s ease;
                border-radius: 8px;
                .sibebar-icon{
                    &:hover{
                        // border: 1px solid $faint-blue-bg;
                        box-shadow: 0 1px 8px 0 rgba(0, 0, 0, 0.2);
                    }
                    &:active{
                        transform: scale(1);
                    }
                }
            }
            .menu-grid-active{
                max-width: 400px;
                grid-template-columns: 45px auto;
                &:hover{
                    box-shadow: 0 1px 10px 0 rgba(0, 0, 0, 0.15);
                }
                &:active{
                    transform: scale(1.1);
                }
                .sibebar-icon{
                    &:hover{
                        box-shadow: 0 1px 10px 0 rgba(0, 0, 0, 0.0);
                    }
                    &:active{
                        transform: scale(1);
                    }
                }
            }
            .menu-grid2{
                margin: 0px auto 30px;
            }
            .active-sidebar-link{
                text-decoration: none ;
                .sibebar-icon{
                    color: $orange;
                    border: 0.6px solid $orange;
                    i{
                        color: $orange;
                    }
                }
                p{
                    color: $orange ;
                }
            }
        }
        .c-sect{
            width: 100%;
            padding: 0;
            height: 20px;
            // overflow: hidden;
        }
        .separation-line{
            width: 100%;
            background-color: $faint-blue-border;
            padding: 0;
            margin: 0;
        }
        @include mediaM(850px) {
            display: block;
            max-height: calc(100vh - 53px);
            overflow: auto;
        }
    }
    @include mediaM(850px) {
        .sibebar-icon{
            color: $purple-bg;
        }
    }
}


// .side-bar-active{
//     .bar{
//         background-color: cadetblue;
//     }
// }