@import "../../../../../assets/styles/variables.scss";


.offers{
    background-color: #FBF7FC;
    width: 100%;
    padding: 3em 0 3em;
    position: relative;
    .side-margin{
        padding: 0 0 0 15%;
        @include mediaM(767px){
            padding: 0;
        }
    }
    .deal-case{
        // width: 100%;
        // max-width: 250px;
        margin: 0.3em;
        .deal-card{
            width: 90%;
            max-width: 280px;
            margin: auto;
            background-color: $white;
            // border: 1px solid $black-faint4;
                box-shadow: 0 10px 20px 0 rgba(103, 4, 118, 0.25);
            border-radius: 15px;
            overflow: hidden;
            padding: 12px;
    
            .img-sect{
                position: relative;
                border-radius: 10px;
                overflow: hidden;
                background-size: cover;
                background-position: center;
                img{
                    opacity: 0.1;
                }
            }
            .text-sect{
                padding: 0.9em 0.8em;
                h6{
                    margin-bottom: 0;
                    font-size: 1.1rem;
                    @include mediaW(1200px){
                        font-size: 1.25em;
                    }
                }
                p{
                    color: $black-faint1;
                    font-size: 0.8em;
                }
                button{
                    @include base-button($purple-bg, $purple-bg-hover);
                    padding: 9px 15px;
                    border-radius: 20px;
                    font-size: 0.9em;
                    font-weight: 500;
                    box-shadow: 0 1px 6px 0 rgba(0, 0, 0, 0.25);
                }
            }
            @include mediaW(550px){
                max-width: 580px;
                display: grid;
                grid-template-columns: 40% 60%;
            }
        }
    }
    .swiper-pagination-bullet {
        background-color: #bdbdbd !important;
        opacity: 1;
        width: 10px;
        height: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 10px;
        font-size: 0.01em;
        transition: 0.3s ease;
    
        // style for active pagination btn
        &.swiper-pagination-bullet-active {
            background-color: #ED6300 !important;
            width: 10px !important;
        }
    }
}