@import '../../../../../assets/styles/variables.scss';
.trade-ways{
    background-image: url(../../../../../assets/images/blue-brick-bg.jpg);
    background-size: cover;
    background-position: center;
    h3,h6,p{
        color: $white;
    }
    .service-card{
        background-color: $primary-card;
        width: 96%;
        margin: 1em auto;
        padding: 7px 10px;
        border-radius: 10px;
        box-shadow: 10px 10px 2px 0 $black-faint4;
        transition: 0.4s ease;
        position: relative;
        &:hover{
            background-color: $primary-card-highlight;
            transform: scale(1.07);
            h3,h6,p{
                color: $black;
            }
        }
    }
}