@import "../../../../../assets/styles/variables.scss";

.visitor-post{
    .cover{
        border: 1px dashed $primary-blue;
        border-radius: 20px;
        background-color: $white-faint1;
        padding: 30px 26px;
        .item-card{
            .input-grp{
                padding-top: 0.9em;
                label{
                    font-weight: 700;
                    font-size: 0.7em;
                    margin-bottom: 0;
                }
                input, textarea, select{
                    width: 100%;
                    border-radius: 8px;
                    padding: 5px 15px;
                    border: 1px solid $primary-blue-hover-faint3;
                    box-shadow: 0 4px 8px -3px $black-faint4;
                    transition: 0.3s ease;
                    background-color: $white;
                    &:focus{
                    outline: none;
                    border-color: $primary-blue;
                    box-shadow: 0 4px 8px 0 $black-faint3;
                    }

                }
                input[type=file]{
                    padding: 2px 15px;
                    &::-webkit-file-upload-button {
                    visibility: hidden;
                    }
                }
                select{
                    padding: 7px 15px;
                }
            }
        }
    }
}

.db-post-card {
    position: relative;
    width: 100%;
    margin: 2vh auto 3vh;
    border-radius: 10px;
    overflow: hidden;
    background-color: #ffffff;
    box-shadow: 0 1px 9px 1px rgba(0, 0, 0, 0.1);
    .db-card-body{
        padding: 10px;
    }
    a{
        color: $primary-blue;
        font-weight: 700;
    }
}
.sizer{
    width: 80%;
    max-width: 300px;
    // padding: 12px;
}
.im-enclose{
    height: 0;
    padding-bottom: 60%;
    border-radius: 8px;
    position: relative;
    background-image: url(./../../../../../assets/images/sample-news-image.jpeg);
    background-size: cover;
    overflow: hidden;
    .imh{
        position: absolute;
        left: 0;
        top: 50%;
        width: 100%;
        transform: translateY(-50%);
    }
    .edit-img-box, .remove-img-box{
        position: absolute;
        top: 10px;
        width: 36px;
        height: 36px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 18px;
        background-color: #ff0000;
        font-size: 1.5em;
        transition: 0.2s ease;
        color: #ffffff;
        cursor: pointer;
        opacity: 0.2;
        &:hover{
            background-color: #c90000;
        }
    }
    &:hover{
        .remove-img-box{
            opacity: 1;
        }
    }
    .edit-img-box{
        left: 10px;
        background-color: $primary-blue;
        opacity: 1;
        &:hover{
            background-color: $primary-blue-hover;
        }
    }
    .remove-img-box{
        right: 10px;
    }
}
.delete-box, .edit-box, .copy-box{
    position: absolute;
    top: 10px;
    right: 10px;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 6px;
    background-color: #ff0000;
    font-size: 1.5em;
    transition: 0.2s ease;
    color: #ffffff;
    cursor: pointer;
    &:hover{
        background-color: #c90000;
    }
}
.edit-box{
    // right: 10px;
    top: 60px;
    background-color: $primary-blue;
    &:hover{
        background-color: $primary-blue-hover;
    }
}
.copy-box{
    // right: 10px;
    top: 110px;
    background-color: $primary-blue-brighter;
    &:hover{
        background-color: $primary-blue-bright;
    }
}
.post-section{
    position: relative;
    border-radius: 12px;
    box-shadow: 1px 2px 6px 0 $black-faint4;
    padding: 12px 12px 6px;
    border: 0.5px dashed rgba(16, 78, 94, 0.2);
    margin: 10px auto 0;
    .remove-section{
        position: absolute;
        top: 5px;
        right: 7px;
        width: 35px;
        height: 35px;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #ffffff;
        box-shadow: 0 1px 8px -1px rgba(0, 0, 0, 0.2);
        transition: 0.3s ease;
        border-radius: 40%;
        cursor: pointer;
        color: #ff0000;
        &:hover{
            background-color: #ff0000;
            color: #ffffff;
        }
    }
}