@import "../../../../assets/styles/variables.scss";


.banner-band{
    background-color: $white;
    width: 100%;
    padding: 12vh 0;
    color: $white;
    position: relative;
    background-image: url(../../../../assets/images/rewards-banner-bg.jpg);
    background-size: cover;
    background-position: center;
    // margin: 0 0 -12vh;
    .text{
        width: 90%;
        max-width: 1100px;
        margin: auto;
        padding-bottom: 2em;
        h1, h3{
            color: $white;
            text-align: center;
        }
    }
}