@import "../../../assets/styles/variables.scss";

.about{
    background-color: $white;
    width: 100%;
    span{
        font-size: 1em;
    }
    .banner{
        background-image: url(../../../assets/images/about-top-bg.jpg);
        background-size: cover;
        background-position: center;
        width: 100%;
        min-height: calc(100vh - 170px);
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        @include mediaM(850px){
            min-height: calc(100vh - 80px);
        }
        @include mediaM(550px){
            min-height: calc(100vh - 60px);
        }
        .bg-curve{
            position: absolute;
            width: 100%;
            left: 0;
            bottom: -1px;
            img{
                width: 100%
            }
        }
        p, h1, h6{
            color: $white;
        }
        h1{
            font-weight: 800;
            font-size: calc(1.675rem + 1.8vw);
        }
        span{
            color: $yellow-bright;
        }
        .awesome{
            color: $white;
            font-size: 1.4em;
            transition: 0.3s ease;
            &:hover{
                opacity: 0.9;
                transform: scale(1.1);
            }
        }
        padding: 10vh 0;
    }
    .why-greed{
        display: grid;
        grid-template-columns: 35% 45% 20%;
        padding: 3em 0 5em;
        width: 96%;
        margin: auto;
        @include mediaM(1050px){
            grid-template-columns: 50% 50%;
        }
        @include mediaM(600px){
            display: block;
            width: 90%;
        }
        .text-sect{
            padding: 10vh 4em 0 6em;
            @include mediaM(1050px){
                padding: 6vh 0 0 3em;
            }
            @include mediaM(1050px){
                padding: 3em 0 0 0;
            }
        }
        .shell{
            padding-top: 5vh;
            @include mediaM(1050px){
                display: none;
            }
        }
    }
    .reasons{
        width: 100%;
        padding: 0;
        .rope-bg{
            width: 100%;
            padding: 7vh 5vw 15vh 10vw;
            background-image: url(../../../assets/images/about-rope-bg.jpg);
            background-size: 100% 100%;
            h6{
                font-size: 1.3em;
                padding: 0.4em 0;
            }
            p{
                padding: 0 0 0.3em 1.3em;
                @include mediaW(851px){
                    font-size: 1.1em;
                }
            }
        }
        
    }
    .orange-button{
        @include base-button($orange, $orange-hover);
    }
    .purple-button{
        @include base-button($purple-bg, $purple-bg-hover);
    }
    .orange-button, .purple-button{
        padding: 8px 15px;
        border-radius: 5px;
        box-shadow: 0 1px 6px 0 rgba(0, 0, 0, 0.25);
        font-weight: 600;
        font-size: 0.9em;
        width: 100%;
    }
}