@import "../../../assets/styles/variables.scss";


.user-profile{
    background-color: #ffffff;
    width: 100%;
    .nav-tabs{
        background-color: $purple-bg;
        padding-top: 0.7em;
        padding-left: 10vw;
        button{
            color: $white;
            font-weight: 700;
            font-size: 1.1em;
        }
        @include mediaW(751px) {
            padding-left: 20vw;
            button{
                color: $white;
                font-weight: 700;
                padding: 8px 25px;
                font-size: 1.2em;
            }
        }
    }
    h1{
        min-height: 50vh;
    }
}

.host-profile{
    background-color: #F9F5FA;
    width: 100%;
}