@import "../../../../../assets/styles/variables.scss";


.hero{
    background-color: $white;
    width: 100%;
    padding: 8vh 0 5vh;
    color: $primary-blue;
    position: relative;
    .hero-spread{
        display: flex;
        align-items: center;
        justify-content: space-between;
        .text-sect{
            width: 90%;
            max-width: 500px;
            h1{
                span{
                    font-size: 1em;
                }
                @include mediaW(1101px){
                    font-size: 3.5rem;
                }
            }
            h2{
                span{
                    font-size: 1em;
                }
                @include mediaW(1101px){
                    font-size: 2.6rem;
                }
            }
            p{
                color: $black-faint2;
            }
            .button-sect{
                width: 80%;
                max-width: 300px;
                img{
                    cursor: pointer;
                }
            }
        }
        .img-sect{
            width: 90%;
            max-width: 520px;
            img{
                width: 100%;
            }
        }
        @include mediaM(650px){
            display: block;
            .text-sect{
                width: 100%;
                max-width: auto;
                padding-bottom: 1em;
                h1{
                    font-size: 2.4rem;
                }
                h2{
                    font-size: 1.8rem;
                }
                .button-sect{
                    width: 80%;
                    max-width: 250px;
                }
            }
            .img-sect{
                width: 100%;
                max-width: auto;
            }
        }
    }
    .plane-path{
        position: absolute;
        width: 50%;
        top: 0%;
        left: 20%;
        img{
            width: 100%;
        }
        @include mediaM(650px){
            width: 80%;
            left: 20%;
        }
    }
    .booking-sect{
        margin: 8vh 0 -8vh;
    }
}