

@import "./assets/styles/variables.scss";

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  // font-family: 'Montserrat';
  // color: $white;
  font-family: 'Raleway', sans-serif;
  font-size: 1.06rem;
  @include mediaM(750px){
      font-size: 0.95rem;
  }
}
a {
  color: inherit;
  text-decoration: none;
  &:hover{
    text-decoration: none;
    color: inherit;
  }
}
h1,
h2,
h3,
h4,
h6{
  font-weight: 600;
}
h3{
  color: $primary-blue;
}
.h3b{
  font-weight: 700;
  @include mediaW(110px){
    font-size: 2.1rem;
  }
}
.h4b{
  font-weight: 700;
  @include mediaW(110px){
    font-size: 2.1rem;
  }
}
.h1b{
    font-weight: 900;
    @include mediaW(550px) {
        font-size: calc(1.5rem + 2.5vw)
    }
}
.h1b2{
    font-weight: 700;
    @include mediaW(550px) {
        font-size: calc(1.4rem + 1.9vw)
    }
}

#root {
  width: 100%;
  overflow-x: hidden;
}

.selected-nav {
  color: $primary-blue;
  opacity: 1;
  font-weight: 900;
  font-family: "Avenir black";
  span {
    color: $primary-blue;
    opacity: 1;
    font-family: "Avenir black";
    font-weight: 900;
  }
  button{
    color: $black;
  }
}

.rdrDefinedRangesWrapper{
  display: none !important; // to hide excesses on daterange picker.
}