@import "./variables.scss";
@import "../../components/block-components/app-data-modal/app-data-modal.scss";
@import "../fonts/fonts.scss";




.invinsible {
    opacity: 0;
  }
  .spread-info-front {
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }
  .spread-info-back {
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }
  .spread-info {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .spread-info-vertical {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
  }
  .spread-info-web {
    display: flex;
    align-items: center;
    justify-content: space-between;
    @include mediaM(920px) {
      display: block;
    }
  }
  .center-info {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .center-info-col {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }

.grid5 {
    display: grid;
    grid-template-columns: 20% 20% 20% 20% 20%;
    @include mediaM(1100px) {
      grid-template-columns: 25% 25% 25% 25%;
    }
    @include mediaM(750px) {
      grid-template-columns: 50% 50%;
    }
    @include mediaM(500px) {
      display: block;
    }
  }


  .m-close-sm{
    @include mediaM(550px) {
      display: none;
    }
  }
  .m-close-md{
    @include mediaM(850px) {
      display: none;
    }
  }
  .m-close-lg{
    @include mediaM(1050px) {
      display: none;
    }
  }

  .m-open-sm{
    @include mediaW(551px) {
      display: none;
    }
  }
  .m-open-md{
    @include mediaW(851px) {
      display: none;
    }
  }
  .m-open-lg{
    @include mediaW(1051px) {
      display: none;
    }
  }
  .m-close-sm-im{
    @include mediaM(550px) {
      display: none !important;
    }
  }
  .m-close-md-im{
    @include mediaM(850px) {
      display: none !important;
    }
  }
  .m-close-lg-im{
    @include mediaM(1050px) {
      display: none !important;
    }
  }

  .m-open-sm-im{
    @include mediaW(551px) {
      display: none !important;
    }
  }
  .m-open-md-im{
    @include mediaW(851px) {
      display: none !important;
    }
  }
  .m-open-lg-im{
    @include mediaW(1051px) {
      display: none !important;
    }
  }

  .block-mobile-sm{
    @include mediaM(550px) {
      display: block !important;
    }
  }
  .block-mobile-md{
    @include mediaM(850px) {
      display: block !important;
    }
  }
  .block-mobile-lg{
    @include mediaM(1050px) {
      display: block !important;
    }
  }

  .block-web-sm{
    @include mediaW(551px) {
      display: block !important;
    }
  }
  .block-web-md{
    @include mediaW(851px) {
      display: block !important;
    }
  }
  .block-web-lg{
    @include mediaW(1051px) {
      display: block !important;
    }
  }