@import "./variables.scss";
@import "../../components/block-components/app-data-modal/app-data-modal.scss";
@import "../fonts/fonts.scss";




.invinsible {
    opacity: 0;
  }
  .spread-info-front {
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }
  .spread-info-back {
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }
  .spread-info {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .spread-info-vertical {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
  }
  .spread-info-web {
    display: flex;
    align-items: center;
    justify-content: space-between;
    @include mediaM(920px) {
      display: block;
    }
  }
  .center-info {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .center-info-col {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }

.grid5 {
    display: grid;
    grid-template-columns: 20% 20% 20% 20% 20%;
    @include mediaM(1100px) {
      grid-template-columns: 25% 25% 25% 25%;
    }
    @include mediaM(750px) {
      grid-template-columns: 50% 50%;
    }
    @include mediaM(500px) {
      display: block;
    }
  }


  .m-close-sm{
    @include mediaM(550px) {
      display: none;
    }
  }
  .m-close-md{
    @include mediaM(850px) {
      display: none;
    }
  }
  .m-close-lg{
    @include mediaM(1050px) {
      display: none;
    }
  }

  .m-open-sm{
    @include mediaW(551px) {
      display: none;
    }
  }
  .m-open-md{
    @include mediaW(851px) {
      display: none;
    }
  }
  .m-open-lg{
    @include mediaW(1051px) {
      display: none;
    }
  }
  .m-close-sm-im{
    @include mediaM(550px) {
      display: none !important;
    }
  }
  .m-close-md-im{
    @include mediaM(850px) {
      display: none !important;
    }
  }
  .m-close-lg-im{
    @include mediaM(1050px) {
      display: none !important;
    }
  }

  .m-open-sm-im{
    @include mediaW(551px) {
      display: none !important;
    }
  }
  .m-open-md-im{
    @include mediaW(851px) {
      display: none !important;
    }
  }
  .m-open-lg-im{
    @include mediaW(1051px) {
      display: none !important;
    }
  }

  .block-mobile-sm{
    @include mediaM(550px) {
      display: block !important;
    }
  }
  .block-mobile-md{
    @include mediaM(850px) {
      display: block !important;
    }
  }
  .block-mobile-lg{
    @include mediaM(1050px) {
      display: block !important;
    }
  }

  .block-web-sm{
    @include mediaW(551px) {
      display: block !important;
    }
  }
  .block-web-md{
    @include mediaW(851px) {
      display: block !important;
    }
  }
  .block-web-lg{
    @include mediaW(1051px) {
      display: block !important;
    }
  }

  /*Start colors*/
  .orange-tx{
    color: $orange;
  }
  .yellow-tx{
    color: $yellow;
  }
  .yellow-bright-tx{
    color: $yellow-bright;
  }
  .purple-tx{
    color: $purple-bg;
  }
  /*End colors*/



.max10 {
  max-width: 10px;
}
.max20 {
  max-width: 20px;
}
.max30 {
  max-width: 30px;
}
.max40 {
  max-width: 40px;
}
.max50 {
  max-width: 50px;
}
.max60 {
  max-width: 60px;
}
.max70 {
  max-width: 70px;
}
.max85 {
  max-width: 85px;
}
.max100 {
  max-width: 100px;
}
.max125 {
  max-width: 125px;
}
.max150 {
  max-width: 150px;
}
.max175 {
  max-width: 175px;
}
.max200 {
  max-width: 200px;
}
.max250 {
  max-width: 250px;
}
.max300 {
  max-width: 300px;
}
.max350 {
  max-width: 350px;
}
.max400 {
  max-width: 400px;
}
.max450 {
  max-width: 450px;
}
.max500 {
  max-width: 500px;
}
.max550 {
  max-width: 550px;
}
.max600 {
  max-width: 600px;
}
.max650 {
  max-width: 650px;
}
.max700 {
  max-width: 700px;
}
.max800 {
  max-width: 800px;
}
.max900 {
  max-width: 900px;
}
.max1000 {
  max-width: 1000px;
}
.max1100 {
  max-width: 1100px;
}
.max1200 {
  max-width: 1200px;
}
.max1300 {
  max-width: 1300px;
}
.max1400 {
  max-width: 1400px;
}

.w100-flat {
  width: 100%;
}

.w100b {
  width: 99.9%;
  margin: auto;
}

.w96 {
  width: 96%;
  margin: auto;
}

.w90 {
  width: 90%;
  margin: auto;
}
.w80 {
  width: 80%;
  margin: auto;
}
.w70 {
  width: 70%;
  margin: auto;
}
.w60 {
  width: 60%;
  margin: auto;
}
.w50 {
  width: 50%;
  margin: auto;
}
.w40 {
  width: 40%;
  margin: auto;
}
.w30 {
  width: 30%;
  margin: auto;
}
.w20 {
  width: 20%;
  margin: auto;
}
.w10 {
  width: 10%;
  margin: auto;
}

.holder-1000{
  width: 90%;
  max-width: 1000px;
  margin: 0 auto;
}
.holder-1100{
  width: 90%;
  max-width: 1100px;
  margin: 0 auto;
}
.holder-1200{
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
}
.holder-1300{
  width: 90%;
  max-width: 1300px;
  margin: 0 auto;
}
.w100{
  width: 100%;
}
.imh{
  img{ width: 100%;}
}

.info-grid{
  display: grid;
  grid-template-columns: 50% 50%;
  column-gap: 4%;
}

.clickable{
  cursor: pointer;
}
.clickable-btn{
  cursor: pointer;
  transition: 0.3s ease;
  &:hover{
    transform: scale(1.06);
  }
}

.number-light{
  font-family: 'Poppins';
  font-weight: 300;
}
.number-medium{
  font-family: 'Poppins';
  font-weight: 500;
}
.number-bold{
  font-family: 'Poppins';
  font-weight: 700;
}

.relative{
  position: relative;
}