@import "./variables.scss";

.header {
  transition: 0.3s ease;
  padding: 3px 0;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 100;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  .sub-layer{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: $white-faint1;
    backdrop-filter: blur(20px);
  }
  .spread-nav-web {
    display: flex;
    align-items: center;
    justify-content: space-between;
    @include mediaM(885px) {
      display: block;
    }
  }
  .logo {
    width: 190px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 12px;
    img {
      width: 100%;
    }
  }
  .logo-mini {
    width: 130px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-top: 10px;
    padding: 9px;
    // box-shadow: 0 0 10px 1px $white-faint1;
    // background-color: $black-faint1;
    img {
      width: 100%;
    }
  }
  .mobile-menu {
    width: 100px;
    text-align: right;
    i {
      font-size: 2em;
    }
  }
  .mobile-menu2 {
    i {
      font-size: 2em;
    }
  }

  .subscribe-grid{
    width: 400px;
  }
  .nav {
    display: block;
    transition: 0.3s ease;
    ul {
      margin: 0;
      padding: 10px 0;
      li {
        display: inline-block;
        padding: 5px 10px;
        font-size: 0.9em;
        transition: 0.2s;
        font-weight: 500;
        @include mediaM(750px){
          padding-top: 10px;
        }
        &:hover {
          transform: scale(1.1);
        }
        button{
          color: $white;
          box-shadow: 0 0 10px 0 $black-faint4;
        }
        span {
          padding: 0 5px;
          display: block;
          // font-size: 0.9em;
          font-weight: 500;
          transition: 0.3s ease;
          i {
            transform: translateY(2px);
          }
          @include mediaW(750px){
            font-size: 0.9em;
          }
        }
        .store-icons{
          background-color: $white;
          border: 1px solid $primary-blue-hover-faint4;
          border-radius: 8px;
          width: 80px;
          margin: auto;
          display: flex;
          align-items: center;
          justify-content: space-around;
          padding: 6px 0;
          img{
            opacity: 0.6;
            transition: 0.3s ease;
            &:hover{
              opacity: 1;
            }
          }
        }
      }
    }
  }
  @include mediaM(885px) {
    padding: 0;
    .nav {
      ul {
        li {
          display: block;
        }
        padding-bottom: 15px;
      }
    }
  }
  .header-dropdown-holder-closer{
    position: fixed;
    width: 100%;
    height: 100vh;
    left: 0;
    top: 0;
    transition: 0.4s ease;
    opacity: 0;
    pointer-events: none;
  }
  .header-dropdown-holder{
    position: absolute;
    top: 90%;
    right: 5%;
    width: 90%;
    max-width: 700px;
    background-color: $white;
    border-radius: 15px;
    padding: 15px;
    box-shadow: 1px 3px 10px 2px $black-faint3;
    transition: 0.4s ease;
    transform: translate(300px, -100px) scale(0);
    opacity: 0;
    .header-dropdown{
      display: grid;
      grid-template-columns: 25% 25% 25% 25%;
      @include mediaM(662px) {
        grid-template-columns: 50% 50%;
      }
      .reduced-soft{
        margin-bottom: 15px;
        padding-left: 10px;
        background-color: $white;
        border-left: 3px solid $primary-blue-hover-faint2;
        transition: 0.3s ease;
        font-size: 0.8em !important;
        span, a{
          font-size: 1em !important;
        }
        &:hover{
          background-color: $primary-blue-hover-faint2;
          cursor: pointer;
        }
      }
    }
  }
}
.mode-2{
  box-shadow: none !important;
  padding: 3px 0;
  @include mediaW(950px){
    padding: 20px 4vw;
  }
  .logo2 {
    width: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 12px;
    @include mediaW(1100px) {
      width: 250px;
    }
    img {
      width: 100%;
    }
  }
  ul{
    li{
      color: $white;
      font-weight: 700;
      padding: 5px 13px !important;
      .header2-btn{
        border: none;
        border-radius: 6px;
        background-color: $orange;
        padding: 5px 20px 3px;
        font-size: 0.7em;
        font-weight: 700;
      }
      @include mediaW(1100px) {
        padding: 5px 18px !important;
        a{
          font-size: 1.2em !important;
        }
      }
    }
  }
  .sub-layer3{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: $primary-blue-hover-faint2;
    backdrop-filter: blur(20px);
    transition: 0.3s ease;
  }
}
.open-mobile-menu{
  .sub-layer2{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: $white-faint3;
    backdrop-filter: blur(20px);
  }
}


.web-menu-open{
  .header-dropdown-holder-closer{
    opacity: 1;
    pointer-events: all;
  }
  .header-dropdown-holder{
    transform: translate(0, 0) scale(1);
    opacity: 1;
  }
}

.mini-hero{
  width: 100%;
  .spacer{
    width: 100%;
    height: 81.5px;
    @include mediaM(885px) {
      height: 57.5px;
    }
  }
  .topic-area{
    padding: 8vh 20px;
    width: 100%;
    min-height: 25vh;
    position: relative;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    // background-image: url(../images/mini-hero-bg.jpg);
    background-size: cover;
    background-position: center;
    .left-bulge{
      position: absolute;
      left: 0;
      bottom: 0;
      width: 30%;
      @include mediaM(750px) {
        width: 50%;
      }
      img{
        width: 100%;
      }
    }
    .right-cave{
      position: absolute;
      right: 0;
      top: 0;
      height: 100%;
      width: 100%;
      // background-image: url(../images/mini-hero-cave-curve.png);
      background-size: contain;
      background-position: right;
      background-repeat: no-repeat;
      @include mediaM(885px) {
        display: none;
      }
    }
    .mobile-right-cave{
      position: absolute;
      right: 0;
      top: 0;
      width: 70%;
      display: none;
      max-width: 165px;
      img{
        width: 100%;
      }
      @include mediaM(885px) {
        display: block;
      }
    }
  }
}

.header-fill{
  width: 100%;
  height: 100px;
  @include mediaM(885px) {
    height: 78px;
  }
}

.subscribe-grid{
    display: grid;
    grid-template-columns: auto 70px;
    border-radius: 10px;
    box-shadow: 0 0 8px 1px $black-faint4;
    border: 0.5px solid $black-faint4;
    background-color: $white-faint4;
    padding: 8px;
    max-width: 80vw;
    overflow: hidden;
    input, button { 
        height: 100%;
        border: none;
        border-radius: 10px;
    }
    input{
        padding: 12px 15px;
        background-color: $white-faint4;
        // border-radius: 10px 0 0 10px;
        border: 1px solid $white-faint3;
        color: $white;
        min-width: 100px;
        &::placeholder{
          color: $white-faint1;
        }
        &:focus{
            outline: none;
        }
    }
    button{
        background-color: $orange;
        transition: 0.3s ease;
        cursor: pointer;
        &:hover{
            background-color: $orange-mid-dark;
        }
        &:active{
            background-color: $orange-mid-dark;
        }
        &:focus{
          outline: none;
        }
    }
}
.inc-grid{
  grid-template-columns: auto 10px 140px;
  @include mediaM(750px) {
    grid-template-columns: auto 9px 100px;
  }
  @include mediaM(500px) {
    grid-template-columns: auto 8px 86px;
  }
}
.click-catcher-obj{
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
}

.draw-holder, .draw-holder-web{
    position: absolute;
    top: calc(100% + 20px);
    left: 50%;
    transform: translate(-50%, -50%);
    pointer-events: none;
    opacity: 0;
    transition: 0.3s ease;
}
.draw-holder-web{
  @include mediaM(885px) {
    margin-top: 10px;
    position: relative;
  }
}
.draw-holder-mobile-notification{
  position: absolute;
  top: calc(100% + 20px);
  right: -60px;
  transform: translateY(-50%);
  pointer-events: none;
  opacity: 0;
  transition: 0.3s ease;
  z-index: 9;
}
.draw-holder-mobile-user{
  position: absolute;
  top: calc(100% + 20px);
  right: -10px;
  transform: translateY(-50%);
  pointer-events: none;
  opacity: 0;
  transition: 0.3s ease;
  z-index: 9;
}
.notification-draw{
  width: 300px;
  max-width: 80vw;
}

.activator{
  opacity: 1;
  pointer-events: all;
  transform: translate(-50%, 0);
}
.activator-mobile{
  opacity: 1;
  pointer-events: all;
  transform: translateY(0);
}

.open-mobile-menu {
  @include mediaM(885px) {
    // background-color: $black;
    .nav {
      max-height: 200vh;
    }
  }
}


.close-mobile-menu {
  .nav {
    @include mediaM(885px) {
      max-height: 0;
      overflow: hidden;
    }
  }
}


.footer {
  // border-top: 0.2px solid $white;
  background-color: #000637;
  color: $white;
  position: relative;
  .pattern-holder{
    background-image: url(./../images//blue-brick-bg.jpg);
    // background-color: #E7324E;
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    // opacity: 0.1;
  }
  h6 {
    font-size: 1.3em;
    @include mediaW(768px) {
      font-size: 1.3em;
    }
  }
  .fit-footer-logo{
    width: 100%;
    .logo-holder{
      width: 175px;
      margin-left: calc(100% - 165px);
      margin-right: -10px;
      img{
        width: 100%;
      }
    }
    @include mediaW(992px) {
      display: flex;
      align-items: flex-start;
      justify-content: flex-start;
      margin-left: -7px;
      .logo-holder{
        width: 170px;
        margin-left: calc(100% - 155px);
        margin-right: -15px;
      }
    }
  }
  .footer-sector{
    display: grid;
    grid-template-columns: 20% 20% 20% 20% 20%;
    @include mediaM(992px) {
      grid-template-columns: 33% 33% 33%;
    }
    @include mediaM(662px) {
      grid-template-columns: 50% 50%;
    }
    @include mediaM(550px) {
      grid-template-columns: 50% 50%;
      // text-align: center;
    }
    .sector-2{
      @include mediaM(550px) {
        display: none
      }
    }
  }
  .footer-brand-sect{
    @include mediaW(551px) {
      display: none
    }
  }
  p{
    color: $white;
    a, span {
      color: inherit;
      opacity: 0.9;
      cursor: pointer;
      &:hover {
        opacity: 0.6;
        text-decoration: none;
      }
    }
  }
  p,
  a,
  span,
  input,
  button {
    @include mediaW(768px) {
      font-size: 0.9rem;
    }
  }
  p {
    margin-bottom: 10px !important;
  }
  .contact-grid{
    display: grid;
    grid-template-columns: 40px auto;
    p{
      margin-bottom: 3px !important;
      text-align: left;
    }
    i{
      padding-top: 6px;
      opacity: 0.6;
    }
    padding: 6px 0;
    @include mediaM(767px){
      display: flex;
      align-items: center;
      justify-content: center;
      i{
        padding-top: 0px;
        padding-bottom: 3px;
        padding-right: 7px;
        opacity: 0.6;
      }
    }
  }
  .media-icons{
    a{
      display: inline-block;
      width: 40px;
      height: 40px;
      background-color: $orange-mid-dark;
      border-radius: 50%;
      // border: 1px solid rgba(255, 255, 255, 0.6);
      transition: 0.4s ease;
      display: flex;
      align-items: center;
      justify-content: center;
      &:hover{
        background-color: $white;
        color: $orange-mid-dark;
      }
    }
  }
  .footer-base{
    background-color: $white-faint4;
  }
}
