@import '../../../../assets/styles/variables.scss';

.stay-booking-comp{
    width: 100%;
    .stay-type-selector{
        display: flex;
        align-items: center;
        justify-content: flex-start;
        font-weight: 500;
        color: $black-faint1;
        max-width: 185px;
        padding-bottom: 0.6em;
        span{
            font-size: 0.9em;
            font-weight: 600;
        }
        input{
            font-size: 1.1em;
            margin: 0 10px 0 6px;
            transform: scale(1.5);
        }
        @include mediaW(701px){
            width: 300px;
            justify-content: flex-end;
            span{
                font-size: 0.8em;
            }
        }
    }
    .floated-type{
        @include mediaW(701px){
            position: absolute;
            top: 6px;
            right: 0;
        }
    }
    .selector, .selector2{
        border-radius: 7px;
        border: 1px solid $black-faint3;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0.6em 0.9em;
        cursor: pointer;
        transition: 0.3s ease;
        .label{
            position: absolute;
            padding: 0 0.3em;
            background: $white;
            left: 5%;
            top: -0.8em;
            font-size: 0.7em;
            .uplift-arrow{
                color: $orange;
                transform: scale(1, 1.5) translateY(-2px);
                padding: 0 0.6em 0 0.3em;
            }
        }
        &:hover{
            box-shadow: 0 2px 7px 0 rgba(0, 0, 0, 0.15);
        }
    }
    .selector2{
        border-color: $black-faint5;
    }
    .stay-button{
        @include base-button($primary-blue, $primary-blue-hover);
        font-size: 0.8em;
        font-weight: 600;
        padding: 6px 10px;
        border-radius: 4.5px;
        .icon{
            font-size: 0.9em;
        }
    }
    .proceed-sect{
        display: flex;
        align-items: center;
        justify-content: flex-end;
        .promo-code-sect{
            width: 300px;
            background-color: #ffffff;
            box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.05);
            border: 1px solid rgba(0, 0, 0, 0.2);
            padding: 2px 3px;
            border-radius: 5px;
            display: grid;
            grid-template-columns: auto 30px;
            margin: 0 1em 0 0;
            transition: 0.3s ease;
            input{
                background-color: #ffffff;
                border: none;
                width: 100%;
                padding: 3px 7px;
                &::placeholder{
                    opacity: 0.6;
                }
                &:focus{
                    outline: none;
                }
            }
            .close-code{
                cursor: pointer;
                padding: 3px 7px;
                color: $orange;
                font-size: 1.2em;
            }
            &:hover{
                box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.2);
            }
            @include mediaM(700px) {
                width: 100%;
                margin: 0.7em 0 0.2em 0;
            }
        }
        .im-error{
            border-color: $red;
        }
        @include mediaM(700px){
            display: block;
            button{
                width: 100%;
            }
        }
    }
    .booking-error{
        font-size: 0.85em;
        color: $red;
        text-align: right;
        padding-right: 220px;
        margin: 0.4em 0 ;

        @include mediaM(700px){
            text-align: center;
            padding: 0;
        }
    }
}