@import "../../../../assets/styles/variables.scss";


.properties-sect{
    width: 100%;
    padding-top: 1em;
    span{
        font-size: 1em;
    }
    .holder{
        width: 100%;
        padding: 1.5em 1em;
        border-radius: 1.5em;
        background-color: $white;
        min-height: calc(100vh - 170px);
        .property-space{
            display: grid;
            grid-template-columns: 64% 1em calc(36% - 1em);
            margin-bottom: 2em;
            background-color: $black-faint6;
            border-radius: 18px;
            border: 1px dashed $black-faint3;
            padding: 1em;
            .property-card{
                box-shadow: 0 2px 7px 1px $black-faint4;
                padding: 0;
                border-radius: 12px 2px 2px 12px;
                display: grid;
                grid-template-columns: 35% 65%;
                min-height: 140px;
                background-color: $white;
                .logo-side{
                    display: flex;
                    align-items: center;
                    justify-content: flex-start;
                    flex-direction: column;
                    padding: 0px;
                    img{
                        width: 100%;
                        border-radius: 12px 0 0 12px;
                    }
                }
                .content-side{
                    padding: 15px 12px;
                    .save-property{
                        // height: 50px;
                        width: 40px;
                        border-radius: 4px;
                        border: 1px solid $purple-bg;
                        transition: 0.3s ease;
                        .save-icon{
                            color: $purple-bg
                        }
                        &:hover{
                            background-color: $purple-bg;
                            color: $white;
                            .save-icon{
                                color: $white;
                            }
                        }
                    }
                }
                @include mediaM(600px){
                    display: block;
                    .logo-side{
                        width: 100%;
                        max-width: 400px;
                        margin: auto;
                        img{
                            border-radius: 12px 12px 0 0;
                        }
                    }
                }
            }
            .more-detail-card{
                box-shadow: 0 2px 7px 1px $black-faint4;
                background-color: $white;
                padding: 15px 12px;
                border-radius: 2px 12px 12px 2px;
                display: flex;
                align-items: center;
                justify-content: space-between;
                flex-direction: column;
                .info-part{
                    width: 100%;
                }
                .action-part{
                    width: 100%;
                }
            }
            .property-button{
                @include base-button($purple-bg, $purple-bg-hover);
                font-size: 0.8em;
                font-weight: 600;
                padding: 7px 10px;
                width: 100%;
                border-radius: 4.5px;
                box-shadow: 0 7px 12px 0 rgba(103, 4, 118, 0.25);
                .icon{
                    font-size: 0.9em;
                }
            }
            @include mediaM(1050px){
                display: block;
                .sp{
                    width: 100%;
                    height: 1em;
                }
                .property-card{
                    border-radius: 12px 12px 2px 2px;
                }
                .more-detail-card{
                    border-radius: 2px 2px 12px 12px;
                }
            }
        }
        @include mediaM(850px){
            min-height: calc(100vh - 80px);
            padding: 1em 0.7em;
        }
        @include mediaM(550px){
            min-height: calc(100vh - 60px);
        }
    }
}