@import "../assets/styles/variables.scss";

.layout{
    width: 100vw;
    overflow: hidden;
    .layout-grid{
        display: grid;
        grid-template-columns: 88px auto;
        min-height: calc(100vh - 80px);
        background-color: #F4F4F4;
        max-width: 100vw;
        .side-bar{
            position: relative;
            height: calc(100vh - 80px);
            z-index: 12;
            .side-bg{
                pointer-events: none;
                background-color: $black-faint1;
                // position: absolute;
                // width: 100%;
                // height: 100%;
                opacity: 0;
                height: calc(100vh - 80px);
                width: 100%;
                transition: 0.3s ease;
                position: fixed;
                @include mediaM(550px) {
                    top: 0;
                    height: 100vh;
                    // pointer-events: all;
                }
            }
            .bar{
                color: $primary-blue;
                height: calc(100vh - 80px);
                width: 88px;
                transition: 0.3s ease;
                position: fixed;
                background-color: $white;
                border: 1px solid $faint-blue-border;
                @include mediaM(850px) {
                    top: 0;
                    height: 100vh;
                    max-width: 350px;
                    transform: translateX(-100%);
                    color: $white;
                    background-color: $purple-bg;
                    // pointer-events: all;
                }
            }
            @include mediaM(850px) {
                position: fixed;
                width: 100%;
                pointer-events: none;
            }
        }
        .side-bar-active{
            pointer-events: all;
            .side-bg{
                pointer-events: all;
                @include mediaM(850px) {
                    opacity: 1;
                }
            }
            .bar{
                width: 250px;
                // @include mediaM(991px) {
                //     transform: translateX(0);
                // }
                @include mediaM(850px) {
                    transform: translateX(0);
                    width: 85%;
                }
            }
        }
        .main-area{
            position: relative;
            width: 100%;
            overflow: auto;
            .holder{
                width: 100%;
                min-height: calc(100vh - 170px);
                @include mediaM(850px){
                    min-height: calc(100vh - 80px);
                }
                @include mediaM(550px){
                    min-height: calc(100vh - 60px);
                }
            }
            // @include mediaM(991px) {
            //     width: calc;
            // }
            // @include mediaM(991px) {
            //     width: 100%;
            //     height: calc(100vh - 60px);
            // }
        }
        @include mediaM(850px) {
            display: block;
        }
    }
}