@import '../../../assets/styles/variables.scss';

.type-suggest{
    width: 100%;
    position: relative;
    .type-box{
        width: 100%;
        input{
            width: 100%;
            padding: 3px 10px;
            transition: 0.3s ease;
            border: 1px solid $black-faint3;
            border-radius: 4px;
            &:focus{
                outline: none;
                box-shadow: 0 2px 6px 0 $black-faint3;
            }
        }
    }
    .selected{
        input{
            // background-color: $faint-blue-border;
            color: $purple-bg;
            font-weight: 700;
            // border-color: $faint-blue-border;
            // box-shadow: 0 2px 6px 0 $faint-blue-border;
            &:focus{
                background-color: $white;
                color: $black;
                font-weight: 400;
                box-shadow: 0 2px 6px 0 $black-faint3;
            }
        }
    }
    .Suggestion-list{
        padding: 10px 5px;
        border-radius: 10px;
        box-shadow: 0 2px 10px 0 $black-faint2;
        width: 100%;
        background-color: #f3f3f3;
        margin-top: 15px;
        border: 1px solid $white;
        z-index: 2;
        .scrollable{
            width: 100%;
            max-height: 40vh;
            overflow: auto;
            padding: 0px 5px;
        }
        .list-item{
            cursor: pointer;
            transition: 0.3s ease;
            border: 1px solid $black-faint5;
            border-radius: 4px;
            padding: 5px;
            margin: 3px 0;
            background-color: $white;
            &:hover{
                box-shadow: 0 2px 6px 0 $black-faint3;
            }
        }
    }
    .floating-list{
        position: absolute;
        width: 100%;
        top: 110%;
    }
}